<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Bricolleur</h4>
            <p class="card-category">Crée votre profile</p>
          </div>
          <div class="card-body">
            
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="nom" type="text"  [(ngModel)]="Bricoleur.nom" name="nom">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Prénom" type="text"  [(ngModel)]="Bricoleur.prenom"
                      name="prenom">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="cin" type="text"  [(ngModel)]="Bricoleur.cin" name="cin">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="email" type="email" required [(ngModel)]="Bricoleur.email"
                      name="email">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="password" type="password" required [(ngModel)]="Bricoleur.password"
                      name="email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="adresse" type="text"  [(ngModel)]="Bricoleur.adresse"
                      name="adresse">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="tel" type="text"  [(ngModel)]="Bricoleur.tel" name="tel">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Experience" type="number" 
                      [(ngModel)]="Bricoleur.anneexperience" name="anneexperience">
                  </mat-form-field>
                </div>
                
                <div class="col-md-4">
                  <div *ngIf="villes">
                    <mat-form-field appearance="fill" class="select-width">
                      <mat-label>Villes</mat-label>
                      <mat-select [(ngModel)]="Bricoleur.id_ville">
                        <mat-option *ngFor="let vle of villes" value="{{ vle.id }}">{{ vle.ville }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                

                <div class="col-md-4">
                  <div *ngIf="category">
                    <mat-form-field appearance="fill" class="select-width">
                      <mat-label>Service</mat-label>
                      <mat-select [(ngModel)]="Bricoleur.id_sousServices">
                        <mat-option *ngFor="let soss of category" value="{{ soss.id }}">{{ soss.nom }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <label>Apropos</label>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Apropos......"  [(ngModel)]="Bricoleur.apropos"
                      name="apropos"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button (click)="saveBricoleur()" class="btn btn-danger pull-right">ENREGISTRER</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Bricoleurs Table</h4>
            <p class="card-category"> Here is a subtitle for this table</p>
          </div>
          <div class="card-body">
            <div class="table-responsive" *ngIf="Bricoleurs">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nom
                  </th>
                  <th>
                    Prenom
                  </th>
                  <th>
                    Adresse - ville
                  </th>
                  <th>
                    Années Experience
                  </th>
                  <th>
                    Actions
                  </th>
                </thead>
                <tbody *ngFor="let brico of Bricoleurs">
                  <tr>
                    <td>
                      {{ brico.nom }}
                    </td>
                    <td>
                      {{ brico.prenom }}
                    </td>
                    <td>
                      {{ brico.adresse }}
                    </td>
                    <td class="text-primary">
                      {{ brico.anneexperience }} ANS
                    </td>                   
                      <td class="td-actions text-right">
                          <button (click)="showBrico(brico)" mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                              <i class="material-icons">edit</i>
                          </button>
                          <button (click)="deleteBricoleur(brico.id)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                              <i class="material-icons">close</i>
                          </button>
                      </td>
                  </tr>
              </tbody>
              </table>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>