
    <footer class="footer">
        <hr class="horizontal dark mb-5">
        <div class="container-fluid">
            <div class=" row">
                <div class="col-md-4 mb-4 ms-auto">
                    <div>
                        <h6 class="text-gradient text-primary font-weight-bolder">LOGO</h6>
                    </div>
                    <div class="position-relative border-radius-xl overflow-hidden">
                        <img src="assets/img/angular.png" alt="pattern-lines"
                            class="position-absolute start-0 top-md-0 w-75 opacity-3">
                        <div class="container py-2 postion-relative z-index-2 position-relative">
                            <div class="row">
                                <div class="col-md-7 mx-auto text-center">
                                    <h3>ALLO-BRICOLEUR</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>

                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-6 mb-4">
                    <div>
                        <h6 class="text-gradient text-primary text-sm">MENU</h6>
                        <ul class="flex-column ms-n3 nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/home" target="_blank">
                                    ACCEUIL
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/demande-client" target="_blank">
                                    ESPACE CLIENT
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/inscription" target="_blank">
                                    ESPACE Allo-Bricoleur
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-4">
                    <div>
                        <h6 class="text-gradient text-primary text-sm">SERVICES</h6>
                        <ul class="flex-column ms-n3 nav">

                            <li class="nav-item">
                                <a class="nav-link" href="mailto:example@gmail.com"
                                    style="font-weight: bold; color:rgba(30, 83, 199, 0.888)">
                                    <i class="far fa-envelope"></i> Gmail
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact" target="_blank">
                                    SUPPORT Allo-Bricoleur
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12">
                    <div class="text-center">
                        <p class="my-4 text-sm">
                            All rights reserved. Copyright ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script><a href="/home">BRICOLEUR</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>