<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Clients</h4>
            <p class="card-category">Crée votre profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="nom" type="text"  [(ngModel)]="Client.nom" name="nom">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Prénom" type="text"  [(ngModel)]="Client.prenom" name="prenom">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="email" type="email"  [(ngModel)]="Client.email" name="email">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <div *ngIf="villes" >
                    <mat-form-field appearance="fill" class="select-width">
                      <mat-label>Ville</mat-label>
                      <mat-select [(ngModel)]="Client.id_ville">
                        <mat-option *ngFor="let vle of villes" value="{{ vle.id }}">{{ vle.ville }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <button mat-raised-button (click)="saveClient()" class="btn btn-danger pull-right">Crée Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Clients Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive" *ngIf="Clients">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Nom
                  </th>
                  <th>
                    Prenom
                  </th>
                  <th>
                    Email
                  </th>
                  <th>
                    ACTION
                  </th>
                </thead>
                <tbody *ngFor="let brico of Clients">
                  <tr>
                    <td>
                      {{ brico.nom }}
                    </td>
                    <td>
                      {{ brico.prenom }}
                    </td>
                    <td class="text-primary">
                      {{ brico.email }}
                    </td>
                    <td class="td-actions">
                      <button (click)="showClient(brico)" mat-raised-button type="button" matTooltip="Edit Task"
                        [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </button>
                      <button (click)="deleteClient(brico.id)" mat-raised-button type="button" matTooltip="Remove"
                        [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>