<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container-fluid mb-7">
      <!--  -->
      <div class="" >
                <a class="" href="/" target="_blank" >
                  <img style="max-height: 100px;" href="/" src="assets/img/logo.png" />
                </a>
        
      </div>
      <!--  -->
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover w-100">
                <li class="nav-item ms-lg-auto">

                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                    <button class="btn btn-sm btn bg-gradient-secondary  btn-round mb-0 me-1 mt-2 mt-md-0" routerLink="/login">S'inscrire</button>
                    <button class="btn btn-sm btn bg-gradient-info  btn-round mb-0 me-1 mt-2 mt-md-0" routerLink="/inscription">Espace Bricoleur</button>
                    <button class="btn btn-sm  bg-white text-dark btn-round mb-0 me-1 mt-2 mt-md-0" routerLink="/demande-client">Demande Services</button>

                </li>
            </ul>
        </div>
    </div>
</nav>