<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container-fluid mb-7">
      <!--  -->
      <div class="" >
                <a class="" href="/" target="_blank" >
                  <img style="max-height: 100px;" href="/" src="assets/img/logo.png" />
                </a>
        
      </div>
      <!--  -->
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover w-100">
                <li class="nav-item ms-lg-auto">

                </li>
                <li class="nav-item my-auto ms-3 ms-lg-0">
                    <button class="btn btn-sm btn bg-gradient-secondary  btn-round mb-0 me-1 mt-2 mt-md-0" routerLink="/home">Home</button>
                    <button class="btn btn-sm  bg-gradient-danger text-light btn-round mb-0 me-1 mt-2 mt-md-0" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>



<header class="bg-gradient-dark">
    <div class="page-header section-height-50" style="background-image: url(assets/img/curved.jpg);">
        <span class="mask bg-gradient-dark opacity-8"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center mx-auto my-auto">
                </div>
            </div>
        </div>
        <div class="position-absolute w-100  bottom-0">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="moving-waves" style="z-index: -1;">
                    <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
                    <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
                    <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
                    <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1" />
                </g>
            </svg>
        </div>
    </div>
</header>










<!-- PASS BRICOLEUR A PARTIE DE LOGIN -->
<section style="margin-top: -13rem;">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card overflow-hidden mb-5">
                    <div class="row">
                        <div class="col-lg-8">
                            <form role="form">
                                <div class="card-header px-4 py-sm-5 py-3">
                                    <h2>ESPACE BRICOLEUR </h2>
                                </div>
                                <div class="card-body pt-1">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="nom" type="text"
                                                    [(ngModel)]="bricoleur.nom" name="nom">
                                            </mat-form-field>
                                        </div>
                                        
                                        <div class="col-md-6" >
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Prénom" type="text"
                                                    [(ngModel)]="bricoleur.prenom" name="prenom">
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>CIN</mat-label>
                                                <input matInput placeholder="cin" type="text"
                                                    [(ngModel)]="bricoleur.cin">
                                            </mat-form-field>
                                        </div>

                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width" appearance="fill">
                                                <mat-label>Email</mat-label>
                                                <input matInput placeholder="Ex. pat@example.com" type="email"
                                                    [(ngModel)]="bricoleur.email">
                                            </mat-form-field>
                                        </div>


                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="password" type="password" required
                                                    [(ngModel)]="bricoleur.password" name="email">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="adresse" type="text" required
                                                    [(ngModel)]="bricoleur.adresse" name="adresse">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="tel" type="text" required
                                                    [(ngModel)]="bricoleur.tel" name="tel">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width">
                                                <input matInput placeholder="Experience" type="number" required
                                                    [(ngModel)]="bricoleur.anneexperience" name="anneexperience">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <div *ngIf="villes">
                                                <mat-form-field appearance="fill" class="select-width">
                                                    <mat-label>Villes</mat-label>
                                                    <mat-select [(ngModel)]="bricoleur.id_ville">
                                                        <mat-option *ngFor="let vle of villes" value="{{ vle.id }}">
                                                            {{ vle.ville }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div *ngIf="category">
                                                <mat-form-field appearance="fill" class="select-width">
                                                    <mat-label> Sous Service</mat-label>
                                                    <mat-select [(ngModel)]="bricoleur.id_sousServices">
                                                        <mat-option *ngFor="let soss of category" value="{{ soss.id }}">
                                                            {{ soss.nom }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Apropos</label>
                                            <mat-form-field class="example-full-width">
                                                <textarea matInput placeholder="Apropos......" required
                                                    [(ngModel)]="bricoleur.apropos" name="apropos"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-6 text-right ms-auto">
                                            <button mat-raised-button (click)="saveBricoleur()" class="btn btn-danger pull-right"> Sauvegarder</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>

                        </div>
                        <div class="col-md-4">
                         
                            <div class="wrapper" *ngIf="bricoleur">
                                <div data-w-id="9a7e68c7-d46c-3acc-1554-11131100f758"
                                    style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
                                    class="cta-card-wrapper">
                                    <div class="cta-card-icon"><img
                                            src="assets/img/profile.svg"
                                            alt=""></div>
                                    <div class="cta-card grade-1">
                                        <div class="cta-card-info">
                                            <h3>{{bricoleur.nom}} {{bricoleur.prenom}}</h3>
                                            <p>{{bricoleur.apropos}} .&nbsp;</p><p
                                                class="button white w-button">{{bricoleur.email}}</p>
                                        </div>
                                        <div class="cta-card-waves">
                                            <div style="transform: translate3d(0px, 0px, 0px) scale3d(2, 2, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 0; transform-style: preserve-3d;"
                                                class="circle-wave"></div>
                                            <div class="circle-wave-1"></div>
                                            <div class="circle-wave-2"></div>
                                            <div class="circle-wave-3"></div>
                                            <div class="circle-wave-4"></div>
                                            <div class="circle-wave-5"></div>
                                            <div class="circle-wave-6"></div>
                                            <div class="circle-wave-7"></div>
                                            <div class="circle-wave-8"></div>
                                            <div class="circle-wave-9"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <p class="text-center">SERVICE DIPONIBLES</p>
            <div class="row " *ngIf="missions">
                <div class="col-md-4" *ngFor="let mss of missions">
                    <div class="card card-chart">
                        <div class="card-body">
                            <h4 class="card-title">{{mss.dateMission}}</h4>
                            <p class="card-category">
                                <span class="text-success"> {{mss.titre}} </span> <br> - {{mss.descriptions}}
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons"></i> par :
                                <span *ngFor="let item of CLIENTS">
                                    <span *ngIf="mss.clientId == item.id">
                                        {{item.nom}} {{item.prenom}}
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>





        <!-- ********************************************************* -->

        <div class="row">
            <div class="col">
                <div class="card overflow-hidden mb-5">
                    <div class="row " *ngIf="missions">
                        <div class="col-md-4" *ngFor="let mss of missions">
                            <div class="card card-chart">
                                <div class="card-body">
                                    <h4 class="card-title">{{mss.dateMission}}</h4>
                                    <p class="card-category">
                                        <span class="text-success"> {{mss.titre}} </span> <br> - {{mss.descriptions}}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons"></i> par :
                                        <span *ngFor="let item of CLIENTS">
                                            <span *ngIf="mss.clientId == item.id">
                                                {{item.nom}} {{item.prenom}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
        
        
                    </div>
                </div>
                
            </div>
           
        </div>
    </div>
</section>


<app-footer-app></app-footer-app>