<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">BRICOLEURS</p>
                        <h3 class="card-title">{{ bricoleurs.length }} </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="/#/bricoleur">bricoleurs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">CLIENTS</p>
                        <h3 class="card-title">{{ clients.length }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> 
                            <a href="/#/client">clients</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6" *ngIf="missions">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">MISSIONS</p>
                        <h3 class="card-title">{{ missions.length }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> 
                            <a href="/#/mission">missions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">INSCRIPTIONS BRICOLEURS</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">DEMENDES CLIENTS</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">MISSIONS</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--  | slice:0:10; let i=index" -->
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">List Bricoleurs</h4>
                        <p class="card-category">les derniers bricoleurs ajoutés</p>
                    </div>

                    <!-- -------------------------------------------------------------- -->
                    <div class="card-body table-responsive" *ngIf="bricoleurs">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Adress</th>
                                <th>Années D'Experience</th>
                            </thead>
                            <tbody *ngFor="let brico of bricoleurs  | slice:0:5; let i=index">
                                <tr>
                                  <td>
                                    {{ brico.nom }}
                                  </td>
                                  <td>
                                    {{ brico.prenom }}
                                  </td>
                                  <td>
                                    {{ brico.adresse }}
                                  </td>
                                  <td class="text-primary">
                                    {{ brico.anneexperience }} ANS
                                  </td>                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">List cdes Clients</h4>
                        <p class="card-category">les derniers clients ajoutés</p>
                    </div>

                    <!-- -------------------------------------------------------------- -->
                    <div class="card-body table-responsive" *ngIf="clients">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>E-mail</th>
                            </thead>
                            <tbody *ngFor="let clt of clients  | slice:0:5; let i=index">
                                <tr>
                                  <td>
                                    {{ clt.nom }}
                                  </td>
                                  <td>
                                    {{ clt.prenom }}
                                  </td>
                                  <td class="text-primary">
                                    {{ clt.email }}
                                  </td>                   
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>